/* =========================
   FONTS
========================= */

/* IRANYekan Regular */
@font-face {
  font-family: "IRANYekan";
  src:
       url("@/assets/fonts/IRANYekanBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* IRANYekan Bold */
@font-face {
  font-family: "IRANYekan";
  src: 
       url("@/assets/fonts/IRANYekanLight.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* DigiTitr */
@font-face {
  font-family: "DigiTitrPlusBoldLine";
  src: url("@/assets/fonts/materialdesignicons-webfont.woff2") format("woff2"),
       url("@/assets/fonts/materialdesignicons-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Material Design Icons */
@font-face {
  font-family: "Material Design Icons";
  src: url("@/assets/fonts/materialdesignicons-webfont.woff2") format("woff2"),
       url("@/assets/fonts/materialdesignicons-webfont.woff") format("woff"),
       url("@/assets/fonts/materialdesignicons-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


